.croppie-container
	max-height 40%
	width 100%
.dropify-container
	.dropify-wrapper
		width 32vw
.trabajador
	.descripcion-container
		text-angular
			.ta-toolbar
				display flex
				flex-direction row
				flex-wrap wrap
				.ta-button-group
					button
						md-icon
							color #009688
	.md-button
		span
			font-size 1.3vw

.tercero
	width 60%
	.imagen
		.imagen-container
			.croppie-container
				max-height 40%
				width 100%
			.dropify-container
				.dropify-wrapper
					width 32vw
	.imagen-button
		margin-top 11vh
		margin-left 14vw
		background #009688
	img
		heightv 40vh
		width 20vw
		margin-left 9vw
.contenedor-horarios
	.horarios-container
		.horarios-content
			.md-button
				height 30px
				margin-top 26px
	.departamentos-container
		.departamento-content
			.md-button
				height 30px
				margin-top 26px

.departamento
	h4
		font-size 2.5vw
	.departamento-container
		display flex
		flex-direction row
		.departamento-content
			.img-deptos
				height 64vh
				width 41vw
			p
				font-size 2vw
		.descripcion-content
			margin 0 3vw
			h1
				font-size 3vw
			p
				font-size 2vw
				text-align justify
.horarios
	h4
		font-size 2.5vw
	.horarios-container
		display flex
		flex-direction row
		justify center
		.horarios-content
			border 1px solid
			width 50%
			md-list
				md-list-item
					strong
						font-size 2vw
						margin-left 15vw
			.titulo
				h1
					font-size 2.5vw
					margin-left 8vw
				.md-button
					height 0 !important
					margin 2vw
		.turnos-content
			border 1px solid
			display flex
			flex-direction column
			width 50%
			h1
				font-size 2.5vw
				text-align center
			md-list
				md-list-item
					strong
						font-size 2vw
						text-align center
						margin-left 18vw
.reloj-container
	position relative
	display flex
	flex-direction column
	justify-content center
	align-items center
	.reloj-checador
		width 800px
		height 650px
		img
			width 100%
			height 100%
	.pantalla
		position absolute
		background-color #205ed9
		width 267px
		height 246px
		border-radius 20px
		left 444px
		top 103px
		.titulo
			display flex
			flex-direction column
			justify-content center
			align-items center
			p
				margin 0
		.cargar
			width 100%
			display flex
			justify-content center
			align-items center

	.lector
		position absolute
		left 829px
		top 276px
		.dropify-container
			width 145px
			.dropify-wrapper
				height 235px
		.boton-container
			width 169px
			display flex
			justify-content center
			align-items center
			.imagen-button
				background-color #01fab9

.ta-scroll-window > .ta-bind
	height 180px
	min-height inherit
	padding 6px 12px
