.administrador
	md-nav-bar(md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links")
		md-nav-item(md-nav-sref=".trabajadores" name="trabajadores") Trabajadores
		md-nav-item(md-nav-sref=".departamentos" name="departamentos") Areas/Departamentos
		md-nav-item(md-nav-sref=".horarios" name="horarios") Horarios
		md-nav-item(md-nav-sref=".conexion" name="conexion") Conexion
		md-nav-item(md-nav-sref=".asistencias" name="asistencias") Asistencias
	main(ui-view="main")
