md-toolbar
	.md-toolbar-tools
		h4 Simulación Reloj Checador
md-card-content
	.reloj-container
		.reloj-checador
			img(src="/img/reloj.png")
		.pantalla
			.titulo
				p(style="font-size: 13px;") lector de huellas
				p(style="font-size: 25px; color: red; font-weight:600;") TresGuerras
			.nombre(ng-if="ctrl.mostrarInfo===true")
				h4 Bienvenido: {{trabajador.nombre}}
				h2 Hora de Entrada: {{horas}}:{{minutos}}:{{segundos}}
			.cargar(ng-if="ctrl.cargarLoader===true")
				md-progress-circular(md-mode="indeterminate" md-diameter="70")
		.lector
			form(ng-submit="ctrl.imagenes.guardarImagen(imagen)")
				.dropify-container(ng-init="Dropify()" flex)
					input.dropify(type="file" data-default-file="Huella" 
						ng-model="imagen" base-sixty-four-input maxsize="54836" 
						data-max-file-size="9000K" 
						accept="image/*" 
						style="padding:0px;")
				.boton-container
					md-button.imagen-button(type="submit" flex)
						md-icon save
