md-card.departamento
	md-toolbar
		.md-toolbar-tools
			h4 Departamento de {{departamento.nombre}}
	md-card-content
		.departamento-container
			.departamento-content
				p Imagen del Departamento
				.img-deptos(style="background-image: url('img/deptos.jpg')")
			.descripcion-content
				h1 Descripción
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, laborum dolorum. Laudantium quo quas mollitia saepe non suscipit, inventore illum a quia. Modi architecto ipsa, repellendus quam, voluptatem doloremque esse!

				h1 Areas
				p 1-Esto  
				p 2-Es una
				p 3-Prueba